Nous sommes une equipe de Data Analyst pour EduMart, une boutique (web/app/boutique) qui vend : Cours, livres, logiciels,
crédits cloud, laptops et accessoires.

Importation des bibliotheques

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Importation et exploration des donnees

In [2]:
customers=pd.read_csv("data/raw/customers.csv")
customers.head(10)

  customer_id      age gender            city        segment signup_date
0       C0001       28      M        Gonaïves     Entreprise  2025-09-26
1       C0002       16      M        Gonaïves  Professionnel  2024-01-19
2       C0003  unknown      M      Saint-Marc    Indépendant  2024-05-05
3       C0004       46      F  Port-au-Prince  Professionnel  2024-11-16
4       C0005       19      M     Cap-Haïtien  Professionnel  2024-11-21
5       C0006       20      M  Port-au-Prince     Entreprise  2023-11-04
6       C0007       44      F  Port-au-Prince  Professionnel  2025-09-29
7       C0008       52      M           Paris       Étudiant  2024-03-28
8       C0009       20      M      Saint-Marc  Professionnel  2025-06-17
9       C0010       26      F             NaN       Étudiant  2025-09-22

In [3]:
products=pd.read_csv("data/raw/products.csv")
products.head(10)

  product_id    category       brand         product_name  unit_price
0       P001      Laptop          HP         Ultrabook 14     1681.08
1       P002      Laptop        ASUS          Notebook 15     1058.14
2       P003       Livre     Manning     Data Engineering       40.16
3       P004  Accessoire       Anker          SSD externe       91.27
4       P005      Laptop          HP            Gaming 16     1123.49
5       P006  Accessoire       Anker           Dock USB-C       75.23
6       P007    Logiciel   Microsoft          Licence IDE      308.43
7       P008    Logiciel   JetBrains    Suite bureautique       68.48
8       P009       Cours  OpenSkills                  NLP      157.91
9       P010       Livre     Manning  Python pour la Data       28.28

In [4]:

order_lines=pd.read_csv("data/raw/order_lines.csv")
order_lines.head(10)

,order_id,customer_id,product_id,order_date,quantity,unit_price,discount_pct,gross_amount,net_amount,payment_method,channel,marketing_source,delivery_days,returned,review_score,segment,city,category
0,O00001,C0201,P031,2024-06-16,4,165.54,0.18,662.16,542.97,Carte,App,Organique,1.0,0,5.0,Indépendant,Port-au-Prince,Cours
1,O00002,C0141,P041,2024-06-10,5,46.48,0.14,232.40,199.86,Carte,Web,Réseaux sociaux,0.0,0,4.0,Étudiant,Abidjan,Livre
2,O00003,C0025,P005,2024-08-29,2,1123.49,0.04,2246.98,2157.10,Virement,Web,Réseaux sociaux,3.0,0,4.0,Étudiant,Cap-Haïtien,Laptop
3,O00004,C0188,P042,2024-01-27,2,68.31,0.22,136.62,106.56,Carte,Boutique,Partenariat,0.0,0,4.0,Indépendant,Abidjan,Cloud
4,O00005,C0023,P052,2025-08-06,3,1932.53,0.17,5797.59,4812.00,Carte,Web,Référencement payant,9.0,0,5.0,Professionnel,Cap-Haïtien,Laptop
5,O00006,C0374,P046,2025-09-03,3,125.59,0.24,376.77,286.35,Mobile Money,Web,Partenariat,1.0,1,4.0,Étudiant,Port-au-Prince,Cours
6,O00007,C0045,P018,2024-10-01,2,52.97,0.12,105.94,93.23,Cash,Boutique,Réseaux sociaux,2.0,0,NaN,Professionnel,Mirebalais,Cours
7,O00008,C0347,P022,2025-08-21,2,50.57,0.10,101.14,91.03,Carte,Web,Organique,3.0,0,4.0,Étudiant,Saint-Marc,Livre
8,O00009,C0290,P058,2025-07-06,1,222.36,0.17,222.36,184.56,Mobile Money,Web,Réseaux sociaux,3.0,0,4.0,Indépendant,Kinshasa,Cloud
9,O00010,C0494,P048,2025-07-27,2,74.61,0.02,149.22,146.24,Virement,Web,Direct,3.0,0,4.0,Professionnel,Port-au-Prince,Cours

In [5]:
customers.shape

(500, 6)

In [43]:
products.shape

(60, 5)

In [ ]:
order_lines.shape

(2225, 18)

Validating data types

In [ ]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   customer_id  500 non-null    object
 1   age          500 non-null    object
 2   gender       490 non-null    object
 3   city         485 non-null    object
 4   segment      500 non-null    object
 5   signup_date  500 non-null    object
dtypes: object(6)
memory usage: 23.6+ KB

On remarque que l'age en soit est de type object au lieu d'une type numerique on fait la conversion

0           28
1           16
2      unknown
3           46
4           19
        ...
495         35
496         35
497         16
498         16
499         37
Name: age, Length: 475, dtype: object

In [47]:
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_id    60 non-null     object
 1   category      60 non-null     object
 2   brand         60 non-null     object
 3   product_name  60 non-null     object
 4   unit_price    60 non-null     float64
dtypes: float64(1), object(4)
memory usage: 2.5+ KB

In [ ]:
order_lines.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2225 entries, 0 to 2224
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          2225 non-null   object
 1   customer_id       2225 non-null   object
 2   product_id        2225 non-null   object
 3   order_date        2225 non-null   object
 4   quantity          2225 non-null   int64
 5   unit_price        2225 non-null   float64
 6   discount_pct      2225 non-null   float64
 7   gross_amount      2225 non-null   float64
 8   net_amount        2225 non-null   float64
 9   payment_method    2225 non-null   object
 10  channel           2225 non-null   object
 11  marketing_source  2225 non-null   object
 12  delivery_days     2181 non-null   float64
 13  returned          2225 non-null   int64
 14  review_score      2115 non-null   float64
 15  segment           2225 non-null   object
 16  city              2155 non-null   object
 17  category          2225 non-null   object
dtypes: float64(6), int64(2), object(10)
memory usage: 313.0+ KB

In [34]:
customers.describe(include="all")

       customer_id  age gender            city   segment signup_date
count          500  500    490             485       500         500
unique         500   36      3              16         4         386
top          C0001   16      F  Port-au-Prince  Étudiant  2024-07-25
freq             1   40    235             135       182           3

In [30]:
products.describe(include="all")

       product_id category brand product_name   unit_price
count          60       60    60           60    60.000000
unique         60        6    23           28          NaN
top          P001    Cours    HP          NLP          NaN
freq            1       18     6            5          NaN
mean          NaN      NaN   NaN          NaN   354.351000
std           NaN      NaN   NaN          NaN   514.712694
min           NaN      NaN   NaN          NaN    24.970000
25%           NaN      NaN   NaN          NaN    72.845000
50%           NaN      NaN   NaN          NaN   124.245000
75%           NaN      NaN   NaN          NaN   308.502500
max           NaN      NaN   NaN          NaN  1932.530000

In [36]:
order_lines.describe(include="all")

,order_id,customer_id,product_id,order_date,quantity,unit_price,discount_pct,gross_amount,net_amount,payment_method,channel,marketing_source,delivery_days,returned,review_score,segment,city,category
count,2225,2225,2225,2225,2225.000000,2225.000000,2225.000000,2225.000000,2225.000000,2225,2225,2225,2181.000000,2225.000000,2115.000000,2225,2155,2225
unique,2200,492,60,683,NaN,NaN,NaN,NaN,NaN,4,3,6,NaN,NaN,NaN,4,16,6
top,O00410,C0363,P060,2025-02-06,NaN,NaN,NaN,NaN,NaN,Carte,Web,Organique,NaN,NaN,NaN,Étudiant,Port-au-Prince,Cours
freq,2,12,52,10,NaN,NaN,NaN,NaN,NaN,895,1218,646,NaN,NaN,NaN,805,600,705
mean,NaN,NaN,NaN,NaN,2.966292,354.163991,0.115097,1049.257438,926.902701,NaN,NaN,NaN,4.112334,0.042247,4.357447,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,1.426634,506.596786,0.068481,1711.115156,1510.243744,NaN,NaN,NaN,4.584551,0.201198,0.595541,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,-1.000000,24.970000,0.000000,24.970000,20.110000,NaN,NaN,NaN,0.000000,0.000000,2.000000,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,2.000000,74.300000,0.060000,158.910000,143.730000,NaN,NaN,NaN,1.000000,0.000000,4.000000,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,3.000000,125.590000,0.110000,362.580000,314.530000,NaN,NaN,NaN,3.000000,0.000000,4.000000,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,4.000000,308.720000,0.160000,898.300000,796.500000,NaN,NaN,NaN,6.000000,0.000000,5.000000,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,5.000000,1932.530000,0.300000,9662.650000,9179.520000,NaN,NaN,NaN,45.000000,1.000000,5.000000,NaN,NaN,NaN

Components of a the DataFrames

In [7]:
print(customers.values)

[['C0001' '28' 'M' 'Gonaïves' 'Entreprise' '2025-09-26']
 ['C0002' '16' 'M' 'Gonaïves' 'Professionnel' '2024-01-19']
 ['C0003' 'unknown' 'M' 'Saint-Marc' 'Indépendant' '2024-05-05']
 ...
 ['C0498' '16' 'M' 'Port-au-Prince' 'Entreprise' '2025-01-13']
 ['C0499' '16' 'M' 'Paris' 'Indépendant' '2023-09-04']
 ['C0500' '37' 'Autre' 'Saint-Marc' 'Professionnel' '2024-11-27']]

In [8]:
print(products.values)

[['P001' 'Laptop' 'HP' 'Ultrabook 14' 1681.08]
 ['P002' 'Laptop' 'ASUS' 'Notebook 15' 1058.14]
 ['P003' 'Livre' 'Manning' 'Data Engineering' 40.16]
 ['P004' 'Accessoire' 'Anker' 'SSD externe' 91.27]
 ['P005' 'Laptop' 'HP' 'Gaming 16' 1123.49]
 ['P006' 'Accessoire' 'Anker' 'Dock USB-C' 75.23]
 ['P007' 'Logiciel' 'Microsoft' 'Licence IDE' 308.43]
 ['P008' 'Logiciel' 'JetBrains' 'Suite bureautique' 68.48]
 ['P009' 'Cours' 'OpenSkills' 'NLP' 157.91]
 ['P010' 'Livre' 'Manning' 'Python pour la Data' 28.28]
 ['P011' 'Cours' 'DataCampX' 'NLP' 41.85]
 ['P012' 'Livre' "O'Reilly" 'Statistiques' 74.3]
 ['P013' 'Livre' 'Eyrolles' 'Statistiques' 61.14]
 ['P014' 'Cours' 'DataCampX' 'Python & Pandas' 120.86]
 ['P015' 'Cloud' 'AWS' 'Crédit 100$' 215.62]
 ['P016' 'Laptop' 'Apple' 'Gaming 16' 1572.54]
 ['P017' 'Logiciel' 'JetBrains' 'Licence IDE' 108.73]
 ['P018' 'Cours' 'DeepLearners' 'Deep Learning' 52.97]
 ['P019' 'Cours' 'DataCampX' 'Deep Learning' 121.48]
 ['P020' 'Laptop' 'HP' 'Workstation 15' 1817.26]
 ['P021' 'Cours' 'DeepLearners' 'NLP' 151.84]
 ['P022' 'Livre' 'Eyrolles' 'Statistiques' 50.57]
 ['P023' 'Logiciel' 'JetBrains' 'Antivirus' 132.18]
 ['P024' 'Cours' 'AI-Lab' 'NLP' 133.87]
 ['P025' 'Cours' 'DeepLearners' 'SQL avancé' 95.45]
 ['P026' 'Accessoire' 'Generic' 'Clavier' 95.37]
 ['P027' 'Laptop' 'HP' 'Workstation 15' 1016.89]
 ['P028' 'Accessoire' 'Logitech' 'Webcam' 26.12]
 ['P029' 'Livre' 'Manning' 'IA pratique' 26.81]
 ['P030' 'Cloud' 'OVH' 'Crédit 50$' 408.53]
 ['P031' 'Cours' 'DataCampX' 'Data Viz' 165.54]
 ['P032' 'Laptop' 'Dell' 'Notebook 15' 756.36]
 ['P033' 'Accessoire' 'Samsung' 'Souris' 119.22]
 ['P034' 'Logiciel' 'Adobe' 'Suite bureautique' 294.16]
 ['P035' 'Livre' 'Eyrolles' 'IA pratique' 52.24]
 ['P036' 'Accessoire' 'Samsung' 'SSD externe' 130.05]
 ['P037' 'Cours' 'AI-Lab' 'ML supervisé' 120.19]
 ['P038' 'Cours' 'DeepLearners' 'ML supervisé' 98.38]
 ['P039' 'Cours' 'OpenSkills' 'MLOps' 179.66]
 ['P040' 'Cloud' 'OVH' 'Crédit 100$' 141.14]
 ['P041' 'Livre' "O'Reilly" 'Data Engineering' 46.48]
 ['P042' 'Cloud' 'Azure' 'Crédit 500$' 68.31]
 ['P043' 'Cours' 'OpenSkills' 'NLP' 119.53]
 ['P044' 'Logiciel' 'Microsoft' 'Antivirus' 238.63]
 ['P045' 'Cloud' 'Azure' 'Crédit 250$' 349.73]
 ['P046' 'Cours' 'OpenSkills' 'ML supervisé' 125.59]
 ['P047' 'Cours' 'DeepLearners' 'SQL avancé' 122.9]
 ['P048' 'Cours' 'OpenSkills' 'Data Viz' 74.61]
 ['P049' 'Logiciel' 'JetBrains' 'Outil BI' 308.72]
 ['P050' 'Livre' 'Manning' 'Deep Learning' 24.97]
 ['P051' 'Accessoire' 'Samsung' 'SSD externe' 51.59]
 ['P052' 'Laptop' 'HP' 'Ultrabook 14' 1932.53]
 ['P053' 'Cloud' 'Azure' 'Crédit 100$' 325.9]
 ['P054' 'Laptop' 'HP' 'Workstation 15' 1341.69]
 ['P055' 'Laptop' 'Lenovo' 'Notebook 15' 1771.15]
 ['P056' 'Logiciel' 'OpenSource' 'Suite bureautique' 144.68]
 ['P057' 'Cours' 'OpenSkills' 'Deep Learning' 55.74]
 ['P058' 'Cloud' 'AWS' 'Crédit 100$' 222.36]
 ['P059' 'Cours' 'DataCampX' 'SQL avancé' 108.25]
 ['P060' 'Laptop' 'ASUS' 'Notebook 15' 813.91]]

In [10]:
print(order_lines.values)

[['O00001' 'C0201' 'P031' ... 'Indépendant' 'Port-au-Prince' 'Cours']
 ['O00002' 'C0141' 'P041' ... 'Étudiant' 'Abidjan' 'Livre']
 ['O00003' 'C0025' 'P005' ... 'Étudiant' 'Cap-Haïtien' 'Laptop']
 ...
 ['O02096' 'C0124' 'P040' ... 'Étudiant' 'Paris' 'Cloud']
 ['O00242' 'C0462' 'P018' ... 'Étudiant' 'Santo Domingo' 'Cours']
 ['O00247' 'C0303' 'P025' ... 'Indépendant' 'Paris' 'Cours']]

Components of the DataFrames columns

In [13]:
print(customers.columns)
print(products.columns)
print(order_lines.columns)

Index(['customer_id', 'age', 'gender', 'city', 'segment', 'signup_date'], dtype='object')
Index(['product_id', 'category', 'brand', 'product_name', 'unit_price'], dtype='object')
Index(['order_id', 'customer_id', 'product_id', 'order_date', 'quantity',
       'unit_price', 'discount_pct', 'gross_amount', 'net_amount',
       'payment_method', 'channel', 'marketing_source', 'delivery_days',
       'returned', 'review_score', 'segment', 'city', 'category'],
      dtype='object')

Checking for missing values

In [34]:
print(customers.isna().sum())

customer_id     0
age             0
gender         10
city           15
segment         0
signup_date     0
dtype: int64

In [35]:
print(products.isna().sum())

product_id      0
category        0
brand           0
product_name    0
unit_price      0
dtype: int64

In [36]:
print(order_lines.isna().sum())

order_id              0
customer_id           0
product_id            0
order_date            0
quantity              0
unit_price            0
discount_pct          0
gross_amount          0
net_amount            0
payment_method        0
channel               0
marketing_source      0
delivery_days        44
returned              0
review_score        110
segment               0
city                 70
category              0
dtype: int64

Drop missing values
5% or less of total values for customers data

In [37]:
threshold = len(customers) * 0.05 
print(threshold)

25.0

In [47]:
cols_to_drop = customers.columns[customers.isna().sum() <= threshold] 
print(cols_to_drop)

Index(['customer_id', 'age', 'gender', 'city', 'segment', 'signup_date'], dtype='object')

In [42]:
customers.dropna(subset=cols_to_drop, inplace=True)

In [ ]:
customers.isna().sum()

customer_id    0
age            0
gender         0
city           0
segment        0
signup_date    0
dtype: int64

On fait l'exportation en CSV

In [ ]:

#customers.to_csv("C:/Users/hp/Documents/Mini_Projet_Pandas/data/processed/customers_clean.csv", index=False, encoding="utf-8")

Drop missing values
5% or less of total values for orders_lines data

In [48]:
threshold_order_lines = len(order_lines) * 0.05 
print(threshold_order_lines)

111.25

In [49]:
cols_to_drop_orders = order_lines.columns[order_lines.isna().sum() <= threshold_order_lines] 
print(cols_to_drop)

Index(['customer_id', 'age', 'gender', 'city', 'segment', 'signup_date'], dtype='object')

In [50]:
order_lines.dropna(subset=cols_to_drop_orders, inplace=True)

In [51]:
order_lines.isna().sum()

order_id            0
customer_id         0
product_id          0
order_date          0
quantity            0
unit_price          0
discount_pct        0
gross_amount        0
net_amount          0
payment_method      0
channel             0
marketing_source    0
delivery_days       0
returned            0
review_score        0
segment             0
city                0
category            0
dtype: int64