In [3]:
import pandas as pd
#import matplotlib.pyplot as plt
#import seaborn as sns

In [6]:
customers=pd.read_csv("data/raw/customers.csv")

In [7]:
customers.head(10)

  customer_id      age gender            city        segment signup_date
0       C0001       28      M        Gonaïves     Entreprise  2025-09-26
1       C0002       16      M        Gonaïves  Professionnel  2024-01-19
2       C0003  unknown      M      Saint-Marc    Indépendant  2024-05-05
3       C0004       46      F  Port-au-Prince  Professionnel  2024-11-16
4       C0005       19      M     Cap-Haïtien  Professionnel  2024-11-21
5       C0006       20      M  Port-au-Prince     Entreprise  2023-11-04
6       C0007       44      F  Port-au-Prince  Professionnel  2025-09-29
7       C0008       52      M           Paris       Étudiant  2024-03-28
8       C0009       20      M      Saint-Marc  Professionnel  2025-06-17
9       C0010       26      F             NaN       Étudiant  2025-09-22

In [8]:
products=pd.read_csv("data/raw/products.csv")
products.head(10)

  product_id    category       brand         product_name  unit_price
0       P001      Laptop          HP         Ultrabook 14     1681.08
1       P002      Laptop        ASUS          Notebook 15     1058.14
2       P003       Livre     Manning     Data Engineering       40.16
3       P004  Accessoire       Anker          SSD externe       91.27
4       P005      Laptop          HP            Gaming 16     1123.49
5       P006  Accessoire       Anker           Dock USB-C       75.23
6       P007    Logiciel   Microsoft          Licence IDE      308.43
7       P008    Logiciel   JetBrains    Suite bureautique       68.48
8       P009       Cours  OpenSkills                  NLP      157.91
9       P010       Livre     Manning  Python pour la Data       28.28