![Alt text](images/image_3.jpg)


# Mini_Projet_Pandas

**Professeur :** Dr. Evens TOUSSAINT  

**Étudiants :**  
- Jameson PIERREVILLE  
- Fabrice HERARD  
- Steve CALIXTE

## Presentation
![Alt text](images/download_3.WEBP)

Nous occupons le rôle de Data Analyst au sein de l’entreprise EduMart, une boutique spécialisée dans la vente de cours, livres, logiciels, crédits cloud, ordinateurs portables et accessoires. Notre tâche consistent à nettoyer et analyser les données de ventes ainsi que le comportement des clients (retours, avis, etc.) à l’aide de Pandas.


## The Data
![Alt text](images/download_4.WEBP)

Notre jeu de données est composé de trois fichiers CSV décrivant les clients, les produits et les transactions de l’entreprise EduMart. Les données vont de la période allant de 2024 à 2025. Le dataset qui enregistre les transactions comptent environ 2200 lignes. 





## Methode
Pour réaliser ce travail, nous utiliserons les outils offerts par _Python_, principalement la bibliothèque _pandas_, qui nous permettra de manipuler les _DataFrames_. Dans un premier temps, nous mènerons une _analyse exploratoire des données_ afin d’identifier, entre autres, la présence de valeurs manquantes.

Dans un deuxième temps, nous traiterons ces différentes anomalies à l’aide de techniques de _nettoyage et de préparation des données_. Enfin, nous exploiterons les données en utilisant des _méthodes statistiques_ et des _visualisations graphiques_ afin d’en extraire des informations pertinentes.

Comme outil collaboratif, nous utiliserons _GitHub_, qui nous permettra d’héberger notre projet, mais aussi de collaborer efficacement et en temps réel sur la production et la révision du code.

### Importation des bibliotheques

In [122]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Importation et exploration des donnees

In [123]:
#Chargement du fichier clients et affichage des 10 premières lignes
customers=pd.read_csv("data/raw/customers.csv")
customers.head(10)

  customer_id      age gender            city        segment signup_date
0       C0001       28      M        Gonaïves     Entreprise  2025-09-26
1       C0002       16      M        Gonaïves  Professionnel  2024-01-19
2       C0003  unknown      M      Saint-Marc    Indépendant  2024-05-05
3       C0004       46      F  Port-au-Prince  Professionnel  2024-11-16
4       C0005       19      M     Cap-Haïtien  Professionnel  2024-11-21
5       C0006       20      M  Port-au-Prince     Entreprise  2023-11-04
6       C0007       44      F  Port-au-Prince  Professionnel  2025-09-29
7       C0008       52      M           Paris       Étudiant  2024-03-28
8       C0009       20      M      Saint-Marc  Professionnel  2025-06-17
9       C0010       26      F             NaN       Étudiant  2025-09-22

In [124]:
#Chargement du fichier produits et affichage des 10 premières lignes
products=pd.read_csv("data/raw/products.csv")
products.head(10)

  product_id    category       brand         product_name  unit_price
0       P001      Laptop          HP         Ultrabook 14     1681.08
1       P002      Laptop        ASUS          Notebook 15     1058.14
2       P003       Livre     Manning     Data Engineering       40.16
3       P004  Accessoire       Anker          SSD externe       91.27
4       P005      Laptop          HP            Gaming 16     1123.49
5       P006  Accessoire       Anker           Dock USB-C       75.23
6       P007    Logiciel   Microsoft          Licence IDE      308.43
7       P008    Logiciel   JetBrains    Suite bureautique       68.48
8       P009       Cours  OpenSkills                  NLP      157.91
9       P010       Livre     Manning  Python pour la Data       28.28

In [125]:

order_lines=pd.read_csv("data/raw/order_lines.csv")
order_lines.head(10)

,order_id,customer_id,product_id,order_date,quantity,unit_price,discount_pct,gross_amount,net_amount,payment_method,channel,marketing_source,delivery_days,returned,review_score,segment,city,category
0,O00001,C0201,P031,2024-06-16,4,165.54,0.18,662.16,542.97,Carte,App,Organique,1.0,0,5.0,Indépendant,Port-au-Prince,Cours
1,O00002,C0141,P041,2024-06-10,5,46.48,0.14,232.40,199.86,Carte,Web,Réseaux sociaux,0.0,0,4.0,Étudiant,Abidjan,Livre
2,O00003,C0025,P005,2024-08-29,2,1123.49,0.04,2246.98,2157.10,Virement,Web,Réseaux sociaux,3.0,0,4.0,Étudiant,Cap-Haïtien,Laptop
3,O00004,C0188,P042,2024-01-27,2,68.31,0.22,136.62,106.56,Carte,Boutique,Partenariat,0.0,0,4.0,Indépendant,Abidjan,Cloud
4,O00005,C0023,P052,2025-08-06,3,1932.53,0.17,5797.59,4812.00,Carte,Web,Référencement payant,9.0,0,5.0,Professionnel,Cap-Haïtien,Laptop
5,O00006,C0374,P046,2025-09-03,3,125.59,0.24,376.77,286.35,Mobile Money,Web,Partenariat,1.0,1,4.0,Étudiant,Port-au-Prince,Cours
6,O00007,C0045,P018,2024-10-01,2,52.97,0.12,105.94,93.23,Cash,Boutique,Réseaux sociaux,2.0,0,NaN,Professionnel,Mirebalais,Cours
7,O00008,C0347,P022,2025-08-21,2,50.57,0.10,101.14,91.03,Carte,Web,Organique,3.0,0,4.0,Étudiant,Saint-Marc,Livre
8,O00009,C0290,P058,2025-07-06,1,222.36,0.17,222.36,184.56,Mobile Money,Web,Réseaux sociaux,3.0,0,4.0,Indépendant,Kinshasa,Cloud
9,O00010,C0494,P048,2025-07-27,2,74.61,0.02,149.22,146.24,Virement,Web,Direct,3.0,0,4.0,Professionnel,Port-au-Prince,Cours

In [126]:
customers.shape

(500, 6)

In [127]:
products.shape

(60, 5)

In [128]:
order_lines.shape

(2225, 18)

Validating data types

In [129]:
# Résumé des colonnes, types et valeurs non nulles des clients
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   customer_id  500 non-null    object
 1   age          500 non-null    object
 2   gender       490 non-null    object
 3   city         485 non-null    object
 4   segment      500 non-null    object
 5   signup_date  500 non-null    object
dtypes: object(6)
memory usage: 23.6+ KB

On remarque que l'age en soit est de type object au lieu d'une type numerique on fait la conversion

In [130]:
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_id    60 non-null     object
 1   category      60 non-null     object
 2   brand         60 non-null     object
 3   product_name  60 non-null     object
 4   unit_price    60 non-null     float64
dtypes: float64(1), object(4)
memory usage: 2.5+ KB

In [131]:
order_lines.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2225 entries, 0 to 2224
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          2225 non-null   object
 1   customer_id       2225 non-null   object
 2   product_id        2225 non-null   object
 3   order_date        2225 non-null   object
 4   quantity          2225 non-null   int64
 5   unit_price        2225 non-null   float64
 6   discount_pct      2225 non-null   float64
 7   gross_amount      2225 non-null   float64
 8   net_amount        2225 non-null   float64
 9   payment_method    2225 non-null   object
 10  channel           2225 non-null   object
 11  marketing_source  2225 non-null   object
 12  delivery_days     2181 non-null   float64
 13  returned          2225 non-null   int64
 14  review_score      2115 non-null   float64
 15  segment           2225 non-null   object
 16  city              2155 non-null   object
 17  category          2225 non-null   object
dtypes: float64(6), int64(2), object(10)
memory usage: 313.0+ KB

In [132]:
 #résumé statistique pour toutes les colonnes customers
customers.describe(include="all")

       customer_id  age gender            city   segment signup_date
count          500  500    490             485       500         500
unique         500   36      3              16         4         386
top          C0001   16      F  Port-au-Prince  Étudiant  2024-07-25
freq             1   40    235             135       182           3

In [133]:
products.describe(include="all")

       product_id category brand product_name   unit_price
count          60       60    60           60    60.000000
unique         60        6    23           28          NaN
top          P001    Cours    HP          NLP          NaN
freq            1       18     6            5          NaN
mean          NaN      NaN   NaN          NaN   354.351000
std           NaN      NaN   NaN          NaN   514.712694
min           NaN      NaN   NaN          NaN    24.970000
25%           NaN      NaN   NaN          NaN    72.845000
50%           NaN      NaN   NaN          NaN   124.245000
75%           NaN      NaN   NaN          NaN   308.502500
max           NaN      NaN   NaN          NaN  1932.530000

In [134]:
order_lines.describe(include="all")

,order_id,customer_id,product_id,order_date,quantity,unit_price,discount_pct,gross_amount,net_amount,payment_method,channel,marketing_source,delivery_days,returned,review_score,segment,city,category
count,2225,2225,2225,2225,2225.000000,2225.000000,2225.000000,2225.000000,2225.000000,2225,2225,2225,2181.000000,2225.000000,2115.000000,2225,2155,2225
unique,2200,492,60,683,NaN,NaN,NaN,NaN,NaN,4,3,6,NaN,NaN,NaN,4,16,6
top,O00410,C0363,P060,2025-02-06,NaN,NaN,NaN,NaN,NaN,Carte,Web,Organique,NaN,NaN,NaN,Étudiant,Port-au-Prince,Cours
freq,2,12,52,10,NaN,NaN,NaN,NaN,NaN,895,1218,646,NaN,NaN,NaN,805,600,705
mean,NaN,NaN,NaN,NaN,2.966292,354.163991,0.115097,1049.257438,926.902701,NaN,NaN,NaN,4.112334,0.042247,4.357447,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,1.426634,506.596786,0.068481,1711.115156,1510.243744,NaN,NaN,NaN,4.584551,0.201198,0.595541,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,-1.000000,24.970000,0.000000,24.970000,20.110000,NaN,NaN,NaN,0.000000,0.000000,2.000000,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,2.000000,74.300000,0.060000,158.910000,143.730000,NaN,NaN,NaN,1.000000,0.000000,4.000000,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,3.000000,125.590000,0.110000,362.580000,314.530000,NaN,NaN,NaN,3.000000,0.000000,4.000000,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,4.000000,308.720000,0.160000,898.300000,796.500000,NaN,NaN,NaN,6.000000,0.000000,5.000000,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,5.000000,1932.530000,0.300000,9662.650000,9179.520000,NaN,NaN,NaN,45.000000,1.000000,5.000000,NaN,NaN,NaN

Nettoyage des Donnees

In [135]:
customers.head(20)

   customer_id      age gender            city        segment signup_date
0        C0001       28      M        Gonaïves     Entreprise  2025-09-26
1        C0002       16      M        Gonaïves  Professionnel  2024-01-19
2        C0003  unknown      M      Saint-Marc    Indépendant  2024-05-05
3        C0004       46      F  Port-au-Prince  Professionnel  2024-11-16
4        C0005       19      M     Cap-Haïtien  Professionnel  2024-11-21
5        C0006       20      M  Port-au-Prince     Entreprise  2023-11-04
6        C0007       44      F  Port-au-Prince  Professionnel  2025-09-29
7        C0008       52      M           Paris       Étudiant  2024-03-28
8        C0009       20      M      Saint-Marc  Professionnel  2025-06-17
9        C0010       26      F             NaN       Étudiant  2025-09-22
10       C0011       32      M        Gonaïves     Entreprise  2024-08-29
11       C0012       43      F        Gonaïves       Étudiant  2023-07-21
12       C0013       21      M         Jérémie       Étudiant  2024-02-22
13       C0014       27  Autre           Dakar       Étudiant  2024-01-30
14       C0015       35      F           Dakar    Indépendant  2024-03-10
15       C0016       32      M        Gonaïves       Étudiant  2024-01-08
16       C0017       26      F     Cap-Haïtien  Professionnel  2024-09-10
17       C0018       28      M       Les Cayes    Indépendant  2025-08-22
18       C0019       18    NaN      Saint-Marc       Étudiant  2023-11-21
19       C0020       27      F       Les Cayes     Entreprise  2024-11-05

In [136]:
customers.isna().sum()

customer_id     0
age             0
gender         10
city           15
segment         0
signup_date     0
dtype: int64

Avant de faire la suppression des valeurs manquantes nous allons traiter d'abord le type de donnees pour l'age que nous devons convertir en numerique. Dans le cas que nous trouvons des valeurs invalides, on force la conversion avec errors = 'coerce' pour mettre NaN

In [137]:
c = customers['age'].value_counts()
c

age
16         40
31         30
32         29
27         29
33         27
28         26
26         23
35         21
25         19
22         18
36         18
30         18
29         17
21         17
23         16
20         16
34         16
38         14
24         13
17         11
40         10
19          9
41          8
unknown     8
42          8
37          6
43          5
44          5
39          5
18          5
45          4
46          3
48          3
52          1
50          1
49          1
Name: count, dtype: int64

In [138]:
customers['age'] = pd.to_numeric(customers['age'], errors='coerce')

In [139]:
# on fait une nouvelle verification du type pour age
customers['age'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 500 entries, 0 to 499
Series name: age
Non-Null Count  Dtype
--------------  -----
492 non-null    float64
dtypes: float64(1)
memory usage: 4.0 KB

In [140]:
# on peut remarquer dans le code ci dessus que le type est different on fait une deuxieme verfication pour les valeurs unknow
customers.isna().sum()

customer_id     0
age             8
gender         10
city           15
segment         0
signup_date     0
dtype: int64

In [141]:
# on a fixer un seuil de 5% afin de verfier que les valeurs manquantes representent une faible totale de l'ensemble des donnees,
# ce qui nous permetterait des les eliminer pour faciliter le traitement des donnees.
seuil = len(customers) * 0.05 
print(seuil)

25.0

In [142]:
cols_to_drop = customers.columns[customers.isna().sum() <= seuil] 
print(cols_to_drop)

Index(['customer_id', 'age', 'gender', 'city', 'segment', 'signup_date'], dtype='object')

In [143]:
customers.dropna(subset=cols_to_drop, inplace=True)

In [144]:
customers.isna().sum()

customer_id    0
age            0
gender         0
city           0
segment        0
signup_date    0
dtype: int64

In [145]:
customers.shape

(467, 6)

Taitement des donnees pour signup_date : le type pour cette colonne doit etre convertie puisqu'elle est de type oject

In [146]:
customers['signup_date'] = pd.to_datetime(customers['signup_date'], errors='coerce')

In [147]:
#verification du type
customers.info()

<class 'pandas.core.frame.DataFrame'>
Index: 467 entries, 0 to 499
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   customer_id  467 non-null    object
 1   age          467 non-null    float64
 2   gender       467 non-null    object
 3   city         467 non-null    object
 4   segment      467 non-null    object
 5   signup_date  467 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(4)
memory usage: 25.5+ KB

In [148]:
#On fait une dernier verification afin de s'assurer que notre data est prete a etre telechargee
customers.isna().sum()

customer_id    0
age            0
gender         0
city           0
segment        0
signup_date    0
dtype: int64

In [149]:
#On fait l'exportation en CSV
customers.to_csv("C:/Users/hp/Documents/Mini_Projet_Pandas/data/processed/customers_clean.csv", index=False, encoding="utf-8")

PermissionError: [Errno 13] Permission denied: 'C:/Users/hp/Documents/Mini_Projet_Pandas/data/processed/customers_clean.csv'

Traitements des donnees pour le dataset Products

In [165]:
# verification valeur manquante et type de donees
products.info()
products.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_id    60 non-null     object
 1   category      60 non-null     object
 2   brand         60 non-null     object
 3   product_name  60 non-null     object
 4   unit_price    60 non-null     float64
dtypes: float64(1), object(4)
memory usage: 2.5+ KB

product_id      0
category        0
brand           0
product_name    0
unit_price      0
dtype: int64

In [166]:
# le dataset n'a pas de valeurs manquantes et les types de donnees apres verification sont correctes.
# on fait l'exportation dans le folder processed pour les prochaines analyses.
products.to_csv("C:/Users/hp/Documents/Mini_Projet_Pandas/data/processed/products.csv", index=False, encoding="utf-8")

Traitements des donnees pour le dataset order_lines

In [150]:
#verification encore une fois du type des donnees
order_lines.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2225 entries, 0 to 2224
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          2225 non-null   object
 1   customer_id       2225 non-null   object
 2   product_id        2225 non-null   object
 3   order_date        2225 non-null   object
 4   quantity          2225 non-null   int64
 5   unit_price        2225 non-null   float64
 6   discount_pct      2225 non-null   float64
 7   gross_amount      2225 non-null   float64
 8   net_amount        2225 non-null   float64
 9   payment_method    2225 non-null   object
 10  channel           2225 non-null   object
 11  marketing_source  2225 non-null   object
 12  delivery_days     2181 non-null   float64
 13  returned          2225 non-null   int64
 14  review_score      2115 non-null   float64
 15  segment           2225 non-null   object
 16  city              2155 non-null   object
 17  category          2225 non-null   object
dtypes: float64(6), int64(2), object(10)
memory usage: 313.0+ KB

In [151]:
# Conversion des types de donnees pour faciliter le traitement
order_lines['discount_pct'] = pd.to_numeric(order_lines['discount_pct'], errors='coerce')
order_lines['order_date'] = pd.to_datetime(order_lines['order_date'], errors='coerce')

In [152]:
order_lines.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2225 entries, 0 to 2224
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          2225 non-null   object
 1   customer_id       2225 non-null   object
 2   product_id        2225 non-null   object
 3   order_date        2225 non-null   datetime64[ns]
 4   quantity          2225 non-null   int64
 5   unit_price        2225 non-null   float64
 6   discount_pct      2225 non-null   float64
 7   gross_amount      2225 non-null   float64
 8   net_amount        2225 non-null   float64
 9   payment_method    2225 non-null   object
 10  channel           2225 non-null   object
 11  marketing_source  2225 non-null   object
 12  delivery_days     2181 non-null   float64
 13  returned          2225 non-null   int64
 14  review_score      2115 non-null   float64
 15  segment           2225 non-null   object
 16  city              2155 non-null   object
 17  category          2225 non-null   object
dtypes: datetime64[ns](1), float64(6), int64(2), object(9)
memory usage: 313.0+ KB

In [155]:
order_lines.isna().sum()

order_id              0
customer_id           0
product_id            0
order_date            0
quantity              0
unit_price            0
discount_pct          0
gross_amount          0
net_amount            0
payment_method        0
channel               0
marketing_source      0
delivery_days        44
returned              0
review_score        110
segment               0
city                 70
category              0
dtype: int64

In [156]:
# On a 2 Colonnes numériques dans ce cas nous remplacons par la médiane
donne_num = ["delivery_days", "review_score"] 
for col in donne_num: 
    order_lines[col] = order_lines[col].fillna(order_lines[col].median())

In [159]:
#On remplace les valeurs manquantes des colonnes catégorielles par le mode
order_lines["city"] = order_lines["city"].fillna(order_lines["city"].mode()[0])

In [160]:
order_lines.isna().sum()

order_id            0
customer_id         0
product_id          0
order_date          0
quantity            0
unit_price          0
discount_pct        0
gross_amount        0
net_amount          0
payment_method      0
channel             0
marketing_source    0
delivery_days       0
returned            0
review_score        0
segment             0
city                0
category            0
dtype: int64

In [163]:
order_lines.shape

(2225, 18)

In [167]:
order_lines.to_csv("C:/Users/hp/Documents/Mini_Projet_Pandas/data/processed/order_lines_clean.csv", index=False, encoding="utf-8")